* {
  font-size: 1em;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
body {
  background-color: darkgray;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
}
#container {
  max-width: 1300px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3vh;
}
#weaving {
  margin-top: 3vh;
  text-align: center;
}
#menu {
  margin-left: 3px;
}
#title {
  width: 594px;
  margin-left: 3px;
}
span {
  float: right;
}
#ok,
#x,
#colors {
  border-radius: 5px;
}
